@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(/assets/fonts/glyphicons-halflings-regular.eot);
    src: url(/assets/fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),url(/assets/fonts/glyphicons-halflings-regular.woff2) format('woff2'),url(/assets/fonts/glyphicons-halflings-regular.woff) format('woff'),url(/assets/fonts/glyphicons-halflings-regular.ttf) format('truetype'),url(/assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}
.glyphicon {
    font-family: 'Glyphicons Halflings';
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: .25rem;
}

.glyphicon-fire:before {
    content: "\e104";
}

.glyphicon-cloud-upload:before {
    content: "\e198";
}

.glyphicon-leaf:before {
    content: "\e103";
}

.glyphicon-equalizer:before {
    content: "\e210";
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-family: 'Helvetica Neue', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    padding-top: 3.125rem;
}

header {
    background-color: #222;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

footer {
    display: flex;
    flex-direction: row;
    padding: 3rem 0;
}

section {
    padding: 3rem 0;
}

h1 {
    font-size: 2.25rem;
    line-height: 1;
    color: greenyellow;
}

h2 {
    font-size: 2.25rem;
    line-height: 1;
}

button {
    background-color: white;
    transition: .3s all;
    border: 1px solid white;
    border-radius: .25rem;
}

button:hover {
    background-color: lightgrey;
    border-color: lightgrey;
    cursor: pointer;
}

.button {
    font-size: .875rem;
    line-height: calc(20/14);
    padding: .375rem .75rem;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.subtitle {

}

.prefix {
    font-size: .875rem;
    color: dimgrey;
}

.epigraph {
    font-size: 1.4375rem;
    font-weight: 400;
    color: dimgrey;
}

.copyright {
    font-size: .8125rem;
    color: dimgray;
}

.navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navbar-header,
.navbar-menu,
.navbar-search {
    margin: 0 -.9375rem;
}

.navbar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: .5px solid dimgray;
}

.navbar a {
    font-size: .875rem;
    font-weight: 500;
    line-height: calc(20/14);
    display: flex;
    color: darkgray;
    padding: .9375rem;
    transition: .3s color;
}

.navbar a:hover {
    cursor: pointer;
    color: white;
}

.navbar a.navbar-brand {
    align-items: center;
    font-size: 1.125rem;
    line-height: calc(20 / 18);
    font-weight: 500;
}

.navbar-panel {
    display: flex;
    flex-direction: column;
    width: calc(100% + 1.875rem);
    padding: 0 .9375rem;
    margin: 0 -.9375rem;
}

.navbar-panel.is-active {

}

.navbar-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.navbar-menu .navbar-menu-item {
    display: flex;
    align-items: center;
}

.navbar-search {
    display: flex;
    flex-direction: row;
    padding: .625rem .9375rem;
    border-top: .5px solid dimgray;
    gap: .9375rem;
}

.navbar-search input,
.navbar-search button {
    border: none;
    border-radius: .125rem;
    line-height: calc(30/14);
}

.navbar-search input {
    font-size: .875rem;
    flex: 1 0 auto;
    padding: 0 .5rem;
}
.navbar-search button {
    padding: 0 .5rem;
}

.navbar-menu .is-active {
    background-color: black;
}

.navbar-menu .is-active a {
    color: white;
}

.navbar-toggle {
    position: relative;
    right: .9375rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    background: transparent;
    border: 1px solid dimgray;
    padding: .625rem;
    border-radius: .25rem;
    transition: .3s background-color;
    /*width: 44px;*/
    /*height: 44px;*/
}

.navbar-toggle .icon-bar {
    background-color: white;
    width: 1.375rem;
    height: .125rem;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
    /* Добавляем позиционирование для анимации */
    position: relative;
    transform-origin: center;
}

/* Анимация при открытой панели */
.navbar-toggle.is-active .icon-bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.navbar-toggle.is-active .icon-bar:nth-child(2) {
    opacity: 0;
    transform: scale(0);
}

.navbar-toggle.is-active .icon-bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}

.navbar-toggle:hover {
    cursor: pointer;
    background-color: dimgray;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.875rem;
    padding: 0 .9375rem;
}
.container-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .9375rem;
    width: 100%;
}
.container-content {
    display: flex;
    flex-direction: column;
    gap: .9375rem;
}

.list-items {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}
.list-items .list-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .9375rem;
}
.list-items .list-item h3 {
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 600;
}
.list-items .list-item h3 a {
    color: darkgreen;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: transparent;
    text-underline-offset: 2px;
    transition: .3s all;
}
.list-items .list-item h3 a:hover {
    color: forestgreen;
    text-decoration-thickness: 2px;
    text-decoration-color: forestgreen;
    text-underline-offset: 4px;
}
.list-items .list-item a img {
    border-radius: .25rem;
    min-height: 18.75rem;
}
.list-items .list-item p {
    font-size: .875rem;
    color: black;
}

.hero {
    background-color: yellowgreen;
}

.hero .subtitle {
    font-size: 1.3125rem;
    font-weight: 300;
    color: greenyellow;
}

.collaboration .container-header {
    border-bottom: 1px solid lightgrey;
    padding-bottom: .9375rem;
}

.collaboration p {
    color: dimgray !important;
}

.callout {
    background-color: goldenrod;
    padding: 3rem 0;
}

.callout .list-item {
    padding: .9375rem;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: .3125rem;
}
footer li:not(:last-child):after {
    content: "|";
    padding-left: .3125rem;
    color: lightgray;
}
footer a {
    font-size: .875rem;
    color: darkgreen;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: transparent;
    text-underline-offset: 2px;
    transition: .3s all;
}

footer a:hover {
    color: forestgreen;
    text-decoration-color: forestgreen;
    text-underline-offset: 4px;
}

@media (min-width: 768px) {
    .container {
        max-width: 45rem;
    }
    h1 {
        font-size: 3.9375rem;
    }

    .navbar {
        flex-direction: row;
    }

    .navbar-panel {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-header,
    .navbar-menu {
        margin: 0;
    }

    .navbar-menu {
        flex-direction: row;
    }

    .navbar-search {
        border-top: none;
    }

    .navbar-toggle {
        display: none;
    }

    .hero {
        padding: 4.5rem 0;
    }

    .callout .list-items {
        flex-direction: row;
    }

    .callout .list-item {
        width: calc((100% - 2 * 1.875rem) / 3);
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 71.25rem;
    }
    .container-header {
        flex-direction: row;
        align-items: flex-end;
    }
    .list-items {
        flex-direction: row;
    }

    .list-items .list-item {
        width: calc((100% - 2 * 1.875rem) / 3);
    }

    .hero .container-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .callout {
        padding: 6rem 0;
    }
}