* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #111827;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3.75rem;
    line-height: 1;
}

h2 {
    font-size: 2.25rem;
    line-height: 1.25;
    font-weight: 600;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.25rem;
    line-height: 1.25;
    font-weight: 600;
    margin-bottom: 1rem;
}

p {
    color: oklch(0.707 0.022 261.325);
    line-height: 1.5;
    font-weight: 300;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.subtitle {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.625;
    max-width: 70ch;
    margin: 0 auto;
}

.epigraph {
    text-transform: uppercase;
    color: oklch(67.3% .182 276.935);
    font-weight: 700;
}

.title {
    margin-bottom: 2.5rem;
}

.button {
    color: #fff;
    background-color: #000;
    padding: .75rem 2rem;
    display: inline-block;
    border-radius: .625rem;
    transition: transform .4s;
    box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, .1);
}

.button.hallow {
    color: #000;
    background-color: #fff;
}

.button:hover {
    transform: translateY(-.35rem);
    box-shadow: 0 1.5rem 2rem -.75rem oklch(0.51 0.26 276.97 / .6);
    transition: transform .4s;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.hr {
    opacity: .5;
    background: linear-gradient(90deg, #0000, #4d44f7, #0000);
    height: 1px;
    margin: 2rem auto;
    grid-column: 3 / span 8;
    width: 100%;
    border: none;
}

.icon {
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    stroke: oklch(67.3% .182 276.935);
}

/* HEADER */
header {
    background-color: oklch(27.8% .033 256.848);
    padding: .875rem 1rem;
    border-bottom: 1px solid oklch(37.3% .034 259.733);
}

header .nav {
    grid-column: span 12;
}
header .logo {
    float: left;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    line-height: 1.4;
    font-weight: 700;
    color: #fff;
}
header .logo svg {
    width: 2rem;
    height: 2rem;
}
header .menu {
    float: right;
    list-style: none;
    display: flex;
    column-gap: 2rem;
}
header .menu li {

}
header .menu li a {
    font-weight: 300;
    display: block;
    line-height: 1.5;
    padding: .375rem .75rem;
    color: #fff;
    border-radius: .4rem;
    transition: background-color .3s;
}
header .menu li a:hover {
    background-color: oklch(37.3% .034 259.733);
}

main {
    padding: 2rem;
}

section {
    padding: 4rem 0;
}

section.hero {
    text-align: left;
    padding: 6rem 0;
    grid-column: 1 / span 8;
}

section.hero h1 {
    margin-bottom: 1rem;
}

section.transform {
    grid-column: 1 / span 12;
}

section.transform .card {
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section.transform .card .media .icon {
    width: 2.5rem;
    height: 2.5rem;
}

section.benefits {
    display: grid;
    grid-column: 1 / span 12;
    grid-template-columns: repeat(2, 1fr);
}

section.benefits .media,
section.benefits .content {
    grid-column: span 1;
}

section.mission {
    text-align: center;
    padding: 3rem 0 6rem;
    grid-column: 2 / span 10;
}
section.philosophy {
    background-color: oklch(0.278 0.033 256.848);
    border: 1px solid oklch(0.373 0.034 259.733);
    grid-column: 1 / span 12;
    border-radius: 1rem;
    display: grid;
    padding: 0;
    grid-template-columns: repeat(12, 1fr);
}

section.philosophy .content {
    grid-column: span 7;
    padding: 3rem;
}

section.philosophy .media {
    grid-column: span 5;
    text-align: center;
    background: radial-gradient(circle,rgba(97, 95, 255, .35) 0%, rgba(30, 41, 57, 0) 40%);
    display: flex;
    justify-content: center;
    align-items: center;
}

section.philosophy .media .icon {
    width: 12rem;
    height: 12rem;
    margin: 0;
}

section.bentopdf {
    text-align: center;
    grid-column: 2 / span 10;
}

section.bentopdf .card {
    text-align: left;
    grid-column: span 6;
    background-color: oklch(0.278 0.033 256.848);
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    gap: 1rem;
}

section.bentopdf .card .media .icon {
    width: 2.5rem;
    height: 2.5rem;
}

section.cta {
    text-align: center;
    grid-column: 4 / span 6;
}

section.cta .title {

}

footer {
    border-top: 1px solid oklch(37.3% .034 259.733);
    padding: 3rem 0;
}

footer .identity,
footer .company,
footer .legal,
footer .follow {
    grid-column: span 3;
}

footer .identity {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer .logo {
    float: left;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    line-height: 1.4;
    font-weight: 700;
    color: #fff;
}

footer .logo svg {
    width: 3rem;
    height: 3rem;
}

footer nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

footer nav ul li {
    font-weight: 500;
}

footer nav ul li a {
    font-weight: 300;
    color: oklch(0.707 0.022 261.325);
    line-height: 1.5;
}

.copy {
    font-size: .8125rem;
}