@font-face {
    font-family: 'Interdisplay';
    src: url('/fonts/65d5c3e0273dbfd2fc68acd8_InterDisplay-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Interdisplay';
    src: url('/fonts/65d5c3e064bea140c0864820_InterDisplay-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Interdisplay';
    src: url('/fonts/65d5c3e0a2873758870952e4_InterDisplay-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Phudu';
    src: url('/fonts/662b607914a28766a8cb24e7_Phudu-ExtraBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}
body {
    font-family: 'Interdisplay', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    background-color: #fbda5f;
    line-height: 1.5;
    padding: 1rem;
}
a {
    color: #000;
    text-decoration: none;
}
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;

}
.logo {
    height: 1.5rem;
}
header nav {
    background-color: #fff9;
    border-radius: 2rem;
    padding: .625rem;
    box-shadow: 0 0 0 .5px rgba(0,0,0,.1);
}
header nav ul {
    list-style: none;
    display: flex;
    column-gap: .5rem;
}
header nav ul li a {
    display: flex;
    font-size: 1.1rem;
    line-height: 1.3;
    font-weight: 600;
    padding: .625rem 1rem;
    column-gap: .25rem;
}
header nav ul li a.enlace {
    transition: transform .3s;
}
header nav ul li a.enlace:hover {
    transform: scale(.9);
}
header nav ul li a.trynow,
header nav ul li a.chrome {
    font-size: .95rem;
}
header nav ul li a.trynow {
    background-color: #fbda5f;
    border-radius: 2rem;
}
header nav ul li a.chrome {
    background-color: #1e1e1f1a;
    border-radius: 2rem;
}
main,
footer {
    width: 100%;
    max-width: 85rem;
    margin: 0 auto;
}
main {

}
section {
    padding: 2rem 0;
}
.hero {
    text-align: center;
}
.hero h1 {
    font-family: 'Phudu', sans-serif;
    font-size: 4rem;
    line-height: .95;
    letter-spacing: -.125rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.hero p {
    font-size: 1.25rem;
    font-weight: 500;
}
.contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.tarjeta {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 1rem;
    overflow: hidden;
    max-width: 20.5rem;
    min-width: 18.75rem;
    width: 20rem;
    flex: 0 0 auto;
}
.tarjeta .contenido {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.tarjeta .título,
.tarjeta .precio,
.tarjeta .cta,
.tarjeta .descripción {
    padding: 1rem;
}

.tarjeta .título {
    background-color: #eee;
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}
.tarjeta .precio {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
}
.tarjeta .precio .precio-etiqueta {
    display: flex;
    flex-direction: column;
}
.tarjeta .precio .precio-antes,
.tarjeta .precio .precio-nuevo {
    font-family: 'Phudu', sans-serif;
    font-weight: 700;
    line-height: 1;
    display: block;
}
.tarjeta .precio .precio-antes {
    font-size: 2rem;
    color: #656565;
    text-decoration: line-through;
}
.tarjeta .precio .precio-nuevo {
    font-size: 3rem;
    letter-spacing: -.0625rem;
}
.tarjeta .precio .unitario {
    font-family: 'Phudu', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #656565;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.tarjeta .botón {
    font-size: 1rem;
    line-height: 1;
    padding: 1rem;
    font-weight: 600;
    border: none;
    background-color: #fbda5f;
    width: 100%;
    border-radius: 3rem;
    letter-spacing: -.0625rem;
    transition: transform .3s;
    cursor: pointer;
}
.tarjeta .botón:hover {
    transform: scale(.9);
}
.tarjeta .descripción {
    border-top: 1px dashed #eee;
}
.tarjeta .descripción ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    row-gap: 1rem;
}
.tarjeta .descripción ul li {
    display: flex;
    align-items: center;
    font-weight: 500;
    column-gap: .5rem;
    letter-spacing: -.03125rem;
}
.tarjeta .descripción ul li svg {
    min-width: 1rem;
    min-height: 1rem;
    fill: #3cea3c;
}

footer {
    background-color: #000;
    padding: 2rem;
    color: #fff;
    border-radius: 2rem;
}

footer h2 {
    font-family: 'Phudu', sans-serif;
    font-size: 3.5rem;
    line-height: 1;
    color: #fbda5f;
    max-width: 20ch;
    margin: 0 auto;
}
footer section {
    text-align: center;
}
footer .botón {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    background-color: #fbda5f;
    border-radius: 2rem;
    padding: 1rem;
    border: none;
    margin: 2rem;
}
footer nav {
    display: flex;
    column-gap: 2rem;
}
footer nav ul {
    list-style: none;
    min-width: 30%;
}
footer nav ul li {
    color: #fff;
}
footer nav ul li a {
    color: #afafaf;
}

.grey {
    background-color: #d5d5d5;
}
.essential {
    background-color: #1c5be6 !important;
    color: #fbda5f !important;
}