* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #2e4349;
    background-color: #eee;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
p {
    text-wrap: pretty;
}

.subtitle {}

.epigraph {}

.title {}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(57, 1fr);
    grid-template-rows: repeat(42, 1fr);

    /* Versión moderna */
    /*width: 57rem;*/
    /*aspect-ratio: 57 / 42;*/

    /* Versión clásica */
    max-width: 57rem;
    max-height: 42rem;

    background-color: #000;
    border: .25rem solid #000;
}

.item {
    padding: .25rem;

    /* Versión moderna */
    /*container-type: size;*/

    /* Versión clásica */
    position: relative;
    overflow: hidden;
}

.media {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    overflow: clip;
}

.media img {
    object-fit: cover;

    /* Versión moderna */
    /*block-size: 100cqb;*/
    /*inline-size: 100cqi;*/

    /* Versión clásica */
    width: 100%;
    height: 100%;
}

/* Posición */
.pos-1 {
    grid-column: 1 / span 36;
    grid-row: 1 /span 16;
}
.pos-2 {
    grid-column: 1 / span 17;
    grid-row: 17 /span 17;
}
.pos-3 {
    grid-column: 1 / span 17;
    grid-row: 34 /span 10;
}
.pos-4 {
    grid-column: 18 / span 19;
    grid-row: 17 /span 12;
}
.pos-5 {
    grid-column: 18 / span 19;
    grid-row: 29 /span 15;
}
.pos-6 {
    grid-column: 37 / span 22;
    grid-row: 1 /span 16;
}
.pos-7 {
    grid-column: 37 / span 22;
    grid-row: 17 /span 26;
}

/* Colores */
.biege {
    background-color: #f5efe8;
}

.verde {
    background-color: #004d41;
}

.rojo {
    background-color: #d60000;
}