@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.epigraph {}

.title {}

.subtitle {}


