@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    letter-spacing: -.0625rem;
}

ul, p {
    line-height: 1.4;
    margin-bottom: 1rem;
}

ul {
    list-style-position: inside;
}

p + h2 {
    margin-top: 2rem;
}

/* Off-canvas */
.off-canvas-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    border-bottom: 1px solid #eee;
    padding: 1rem;
}

footer {
    border-top: 1px solid #eee;
    padding: 1rem;
}

header ul {
    list-style: none;
}

header ul li {
    display: inline-block;
}

main {
    padding: 2rem;
    margin-bottom: auto;
}

section {
    padding: 1rem 0;
}

.epigraph {}

.title {}

.subtitle {}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
}
.col-6 {
    grid-column: span 6;
}
.col-12 {
    grid-column: span 12;
}