@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

main {

}

section {
    padding: 3rem 0;
}

.epigraph {}

.title {}

.subtitle {}


.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
}
.col-6 {
    grid-column: span 6;
}
.col-12 {
    grid-column: span 12;
}