* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    background-color: #f3f4f6;
    color: #1a1a1e;
}

body {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 3rem;
    font-weight: 800;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    color: #7a707d;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    font-size: 1.5rem;
    font-weight: 800;
}

.subtitle {
    font-size: 1.25rem;
    color: #7a707d;
}

.selected {
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

header nav {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 68rem;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}

header nav a {
    font-size: 1.125rem;
    font-weight: 500;
    color: #7a797d;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section {
    display: flex;
    width: 100%;
    max-width: 68rem;
    padding: 5rem 2rem;
}

main section ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

main section ul li {
    display: flex;
    flex-direction: column;
    width: calc((100% - 2rem) / 2);
    text-align: center;
}

main section ul li img {
    margin-bottom: 2rem;
}

footer {
    background-color: #cccad1;
    display: flex;
    justify-content: center;
    padding: 4rem 2rem;
}

footer .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: .625rem;
    line-height: 1;
    background-color: #000;
    color: #fff;
    padding: .25rem .5rem;
    border-radius: 1rem;
    font-weight: 500;
}

footer .button .x-twitter {
    fill: #fff;
    width: 1rem;
    height: 1rem;
}

.logo {
    font-size: 2rem;
    font-weight: 800;
    line-height: 1;
}

.menu {
    display: flex;
    gap: 1rem;
}

.hero {
    position: relative;
    height: 40rem;
    max-width: unset;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 0;
}

.hero .media {
    position: absolute;
    inset: 0;
}

.hero .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    z-index: 1;
    background-color: #f3f4f6;
    text-align: center;
    padding: 5rem;
    max-width: 68rem;
    width: 100%;
}

.contact,
.about {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
}

.contact > div,
.about > div {
    width: calc((100% - 2rem) / 2);
    justify-content: center;
}

.contact .content,
.about .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.contact .content h1,
.about .content h1 {
    font-size: 2rem;
}

.contact .content {
    width: 100%;
}

.link {
    display: flex;
    align-items: center;
    gap: .5rem;
}

body:not(.index) main {
    background-color: #fff;
}

/* Tipografía básica */


/* 1px = 0,0625rem */
/* 2px = 0,125rem */
/* 3px = 0,1875rem */
/* 4px = 0,25rem */
/* 5px = 0,3125rem */
/* 6px = 0,375rem */
/* 7px = 0,4375rem */
/* 8px = 0,5rem */
/* 9px = 0,5625rem */
/* 10px = 0.625rem */
/* 11px = 0.6875rem */
/* 12px = 0.75rem */
/* 13px = 0.8125rem */
/* 14px = 0.875rem */
/* 15px = 0.9375rem */
/* 16px = 1rem */
/* 17px = 1.0625rem */
/* 18px = 1.125rem */
/* 19px = 1.1875rem */
/* 20px = 1.25rem */
/* 21px = 1.3125rem */
/* 22px = 1.375rem */
/* 23px = 1.4375rem */
/* 24px = 1.5rem */
/* 25px = 1.5625rem */
/* 26px = 1.625rem */
/* 27px = 1.6875rem */
/* 28px = 1.75rem */
/* 29px = 1.8125rem */
/* 30px = 1.875rem */
/* 31px = 1.9375rem */
/* 32px = 2rem */